.searchBox{
    background-color: #222;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}
.searchBox input{
    width: 100%;
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border: solid 1px transparent;
    color: #eee;
}
.searchBox input:focus{
    outline: none;
    border: solid 1px rgb(124, 124, 124);
}
.foodWrap{
    max-width: 500px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto 0;
}
.foodWrap ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.item{
    text-align: center;
    padding: 5px 0;
    color: #eee;
    background-color: #2f2f2f;
    margin: 6px 0;
}