*{
  box-sizing: border-box;
}
body{
  background-color: #222;
  padding: 20px;
}
h4,p{
  margin: 0;
  line-height: 1;
}
h4{
  font-size: 18px;
}
p{
  margin-top: 5px;
}
.mainWrap{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 100px auto;
}
.temp{
  padding: 20px;
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 7px;
  transition: 2s ease;
  position: relative;
  margin-top: 15px;
}
.temp::after{
  content: "";
  transition: 2s ease;
  font-size: 30px;
  position: absolute;
  top: 20px;
  opacity: 0;
}
.normal{
  background-color: #ffce61;
}
.hot{
  background-color: #ef4136;
}
.hot::after{
  content: "🥵";  
  right: 20px;
  opacity: 1;
}
.cold{
  background-color: #4984b8;
}
.cold::after{
  content: "🥶";
  left: 20px;  
  opacity: 1;
}
.control{
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
button{
  color: #fff;
  background-color: rgb(21, 21, 21);
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
button:active{
  background-color: rgb(96, 96, 96);
}
