*{
  box-sizing: border-box;
}
body{
  background-color:#fff;
  padding: 0;
}




.home__page__container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__page__container h1{
  color: #222;
}


/*================================================*/

aside.side_bar{
  background-color: #181818;  
  width: 100%;  
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: inherit;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  z-index: 99999;
  height: 65px;
  overflow: hidden;
}
.app_container{
  width: 100%;
  margin-left: 0;
  height: calc(100vh - 65px);
  padding: 0 15px;
}
aside.side_bar h4{
  display: none;
}
ul.list{
  list-style: none;
  text-decoration: none;
  padding:0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: pink;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
}
ul.list li {
  margin: 0;
  border-right: solid 1px rgb(63, 63, 63);
  width: auto;
  flex: 0 0 auto;
  flex-shrink: 0;
}
ul.list li a{
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  justify-content: flex-start;
  background-color: #222;
  padding: 25px 30px;  
  width: 100%; 
  color: #fff;
  text-decoration: none;
}
ul.list li a svg{
  font-size: 1rem;
}

@media screen and (min-width:767px) {
  .mobileMenu{
    display: none;
  }
  aside.side_bar{
    max-width: 250px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 40px 20px;
  }
  .app_container{
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100vh;
    padding: 0;
  }
  aside.side_bar h4{
    text-align: center;
    text-transform: uppercase; 
    margin: 0 0 20px; 
    color: #fff;
    display: block;
  }
  ul.list {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: static;
    background-color: transparent;
    display: inherit;
  }
  ul.list li{
    margin: 5px 0;  
  }
  ul.list li a{
    font-weight: 600;    
    font-size: 1rem;    
    border-radius: 5px;
    background-color: #434343;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
}

@media screen and (min-width: 991px) {
  aside.side_bar{
    max-width: 340px;
    /* width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 40px 20px; */
  }
  .app_container{
    width: calc(100% - 340px);
    margin-left: 340px;
  }
}

